
        .header {
            width: 100%;
            margin: 0;
            height: 30px;
            background-color: #fff;
            position: fixed;
            display: flex;
            flex-direction: row;
            padding: 15px 0 15px 0;
            justify-content: space-between;
            box-shadow: 0 0 5px 0;
            align-items: center;


            color: dimgrey;
        }

        #content {
            display: flex;
            height: 300px;
            margin: 0 !important;
            flex-direction: column;
            float: left;
            background-color: rgba(195, 214, 214, 0.116)
        }

        body {
            margin: 0 !important;
        }

        .gmail {
            padding-left: 15px;
            font-size: 28px;
            display: flex;
            flex-direction: row;
        }

        .forwork {
            font-size: 20px;
            display: flex;
            justify-content: space-between;
            width: 360px;
            align-items: center;
            cursor: pointer;
        }

        .button {
            background-color: #1a73e8;
            width: 180px;
            height: 40px;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            padding: 5px 20px 5px 20px;
            font-size: medium;
            border-style: none;
            cursor: pointer
        }

        .get {
            font-size: 56px;
            padding-top: 155px;
            padding-bottom: 25px;
            padding-left: 85px;
            font-family: Arial, sans-serif;
        }

        .now {
            padding-left: 85px;
            padding: 10px 0 50px 85px;
            font-size: 15px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(32, 31, 31);
        }

        .create {
            background-color: #1a73e8;
            height: 50px;
            width: 200px;
            color: white;
            padding: 5px 20px 5px 20px;
            font-size: medium;
            border-style: none;
            cursor: pointer
        }

        .padd {
            padding-left: 85px;
        }
